<div style="text-align: center;">
  <h2>Ricerca un rivenditore per provincia o regione.<br><br>Inserisci nel box sottostante la regione o la provincia<br>di tuo interesse e clicca sul tasto "Cerca"<br><br></h2><h3>(Ad esempio se vuoi cercare tutti i negozi in Lombardia digita "Lombardia")</h3>


  <%= form_tag("/resellers", :method => "get", :class => "contact-form commentsblock") do %>
      <%= text_field_tag(:query) %>
      <br class="clear">
      <%= submit_tag "Cerca", :class => 'ka-form-submit' %>
  <% end %>
</div>