<div id="sub_nav">
  <ul class="sub-menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-46 current_page_item"><a href="<%= about_us_company_path %>">L'Azienda</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= about_us_tradition_path %>">Stile e Tradizione</a></li>
  </ul>
</div>

<div id="content">
  <p>La nostra azienda dal 1890 si occupa della produzione e della vendita di arredamenti per la casa,
  mantenendosi sempre tra i leader del settore.</p>

  <p>Ricerca e innovazione sono le due parole chiave che hanno ispirato nostra azienda, questa filosofia ci ha permesso
  di rimanere sempre ai massimi livelli in un mercato in continua evoluzione.</p>

  <p>Offriamo al cliente i design più raffinati grazie alla collaborazione con alcuni tra i più famosi designer
  disponibili nel panorama internazionale.</p>

  <p>La nostra azienda si prefigge l'obiettivo di mettere sempre al centro il cliente garantendo un'ampia
  gamma di servizi e un efficiente customer care.
  </p>
</div>