<div id="sub_nav">
  <ul class="sub-menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%= about_us_company_path %>">L'Azienda</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-46 current_page_item"><a href="<%= about_us_tradition_path %>">Stile e Tradizione</a></li>
  </ul>
</div>

<div id="content" class="leftpad">
  <p>Sin dagli esordi Home Furniture & Co. ha sempre cercato di mantenersi giovane e al passo coi tempi, prediligendo
    design freschi ed innovativi, contraddistinti da colori luminosi e tonalità vivaci.</p>

  <p>Per quanto la nostra azienda proponga design anche molto elaborati, al tempo stesso i nostri prodotti risultano semplici
    e sobri, adatti a valorizzare la sensazione di luce sia negli ambienti chiari che in quelli meno luminosi, coniugando
    influenze classiche con le recenti tendenze stilistiche europee.</p>

  <p>Per Home Forniture & Co. risulta inoltre di rilevante importanza la sostenibilità ambientale: per questo cerchiamo
    di limitare i consumi di energia e di utilizzare materiali e tecniche produttive che rispettino l'ambiente, favorendo
    inoltre lo smaltimento di mobili e arredi usati.</p>
</div>