<ul>
  <li><%= link_to 'Add New Product', new_product_path %></li>
  <li><%= link_to 'Edit Existing Product', new_product_path %></li>
  <li><%= link_to 'Delete Existing Product', new_product_path %></li>

  <br/><%= link_to 'Back To Restricted Area', admin_path %>
</ul>
