<div class="home-bnr-jquery">
  <ul style="background-image: none; position: relative;">
    <% @products.each do |product| %>

    <li class="jqslider" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 0; width: 940px; height: 283px;">

      <div class="home-banner-main">
        <h2><%= raw(product.name) %></h2>    <p><%= raw(product.description) %></p>
      </div><!-- end home-banner-main -->



      <div class="home-banner-sub">
        <div class="home-banner-sub-content">
          <a href="<%= product_path(product) %>">	<%= image_tag 'products/' + product.image_url, :style => 'width: 404px; height: 256px;' %>
          </a>    <div class="home-banner-bottom">&nbsp;</div>
        </div><!-- end home-banner-sub-content -->
      </div><!-- end home-banner-sub -->

    </li>

    <% end %>

  </ul>
</div>

<div class="top"></div>
<div class="callout-wrap"><span>Benvenuto sul sito ufficiale di HomeFurniture & Co.!!</span></div>


<script type="text/javascript">
    //<![CDATA[
    jQuery(window).load(function(){
        jQuery('.home-bnr-jquery ul').css('background-image','none');
        jQuery('.jqslider').css('display','block');
        jQuery('.home-bnr-jquery ul').after('<div class="jquery-pager">&nbsp;</div>').cycle({
            fx: 'fade',
            timeout: '3000',
            height: 'auto',
            pause: '',
            pager: '.jquery-pager',
            cleartypeNoBg: true
        });
    });
    //]]>
</script>