<div id="content" class="content_full_width contact_smartphone_content">

  <div class="two_thirds">
    <h1>Contattaci qui!</h1>
    <p>Compila tutti i campi del form qui sotto per contattarci, ti risponderemo nel più breve tempo possibile.</p>
    <div id="contact-form-16">

      <%= render 'form' %>

    </div>
  </div>

  <div class="one_third_last contact_smartphone">
    <div class="smartphone-wrap">
      <div class="sidebar-widget sidebar-smartphone">
        <h4 class="smartphone-header">Informazioni di Contatto</h4>

        <div class="textwidget">
          <p>
            <strong>Sede Centrale</strong><br>
            <strong>Home Furniture & Co.<br>
              Via Giussani 98,<br>
              21100 (MI)<br>
              Italia<br>
            </strong>
            <strong>Tel.:</strong> +39 0212 458726<br>
            <strong>Fax.:</strong> +39 0212 458727<br>
            <a href="mailto:info@homefurniture.com">info@homefurniture.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br class="clear">

</div>



