<% @title = 'Si è verificato un errore!' %>
<div id="content" class="content_full_width">
  <div class="four_error">
    <div class="four_message">
      <h1 class="four_o_four">Pagina non trovata</h1>
      Spiacenti, la pagina che state cercando non è disponibile. Cliccate sul link sottostante per tornare alla Home Page del sito:<br><br>
      <div class="center">
        <a href="<%= home_path %>" class="ka_button small_button small_tealgrey"><span>Torna alla Home</span></a>
      </div>
    </div><!-- end four_message -->
  </div><!-- end four_error -->

</div>