/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.clear {clear:both;margin:10px;}
.center {text-align:center;}
.top {padding-top:45px;}
.rounded{border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.avatar{width:128px;height:128px;margin:10px;}
.left{float:left; margin-right: 20px;}
.right{float:right; margin-left: 20px;}
.bigicon{width:256px;height:256px;}
.three-quarters{width: 630px;}
.bold{font-weight: bold;}
.ico{width: 32px;}
table td {min-width: 32px;}
.thumb{width:128px; vertical-align: middle; margin: 5px;}
.leftpad{padding-left: 10px;}
h1, h2, h3, h4, h5 #main .comment-title, .four_o_four, .callout-wrap span, .search-title,.callout2, .comment-author-about, .logo-text {font-family:'Droid+Sans', Arial, sans-serif;}

body,html{background-image:url(_global/low_contrast_linen.png) !important;background-position:left top !important;background-repeat:repeat !important;}
#tt-boxed-layout {-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);}